.project-page {
  background-image: url(../images/robert-horvick.jpg);
  background-size: cover;
  margin-top: 0;
}

.project-container {
  background-color: transparent;
  padding-top: 0;
  margin-left: 3em;
  margin-right: 3em;
}

.header {
  font-size: 3em;
}